/*Barra de Navegacion*/
/* .navbar{
    padding: 2rem;
    background-color: rgb(243, 227, 52);
} */

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

.nav-item:hover {
    background-color: #adbd19;
    border-radius: 10px;
}

.u-map {
    width: 100%;
    height: 100%;
    /* Puedes ajustar la altura según tus necesidades */
}

iframe {
    border-color: black;

    width: 100%;
    height: 500px;
}

/*Hago una media query para que el icono cuando la pantalla sea pequeñas y salgan las tres rayas no aparezca para no estorbar
Le marco a partir de cual anchura quiero que se aplique la funcion(lo que hago entre {}, y hago que de la clase navbar brand no se muestre nada*/
@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }

    .navbar-titulo {
        text-align: center;
    }
}

.caja-subtitulo {
    width: 50%;
    /* Center the element */
    margin: auto;
    margin-bottom: 15px;
    /* Less horizontal padding */
    padding: 1rem;
    background-color: #3c3d36b1;
    border-radius: 10px;
}

.titulo {
    color: white;
    text-align: center;
}

.top4 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 1rem;
    background-color: #9db517b1;
    border-radius: 10px;
    margin-bottom: 20px;
}

.top4 .col-md-4 {
    margin: auto;
    /* max-width: 230px; */
    width: 23%;
    min-width: 120px;
    height: auto;
    min-height: 80px;
    text-align: center;
    margin: 3px;
}

.col-md-4 {
    margin: auto;
    /* max-width: 230px; */
    width: 23%;
    min-width: 120px;
    height: auto;
    text-align: center;
    margin: 3px;
}

.buscador {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 20px;
}

.buscador nav {
    width: 50%;
}


.navbar-brand img {
    font-size: 1.5rem;
    border-radius: 20%;
}

.carruselTipos {
    display: flex;
    overflow-y: auto;
}

.carruselTipos .col-md-4 {
    margin: 10px;
}


.Cabecera-calses {
    color: white;
    text-align: center;
}

hr {
    height: 2px;
    background-color: rgb(35, 35, 35);
    padding: 0;
    margin: 0;
}



/*Parte de info y contacto*/
.contact-section {
    background-color: #333;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

.contact-section div {
    margin-bottom: 20px;
    width: 33%;
    display: inline-block;
    vertical-align: top;
}

.contact-section .icon {
    background-color: #00b7a8;
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 10px;
}

.contact-section .icon img {
    width: 30px;
    height: 30px;
    margin-top: 10px;
}

.contact-section a {
    color: #d4ff00;
    text-decoration: none;
}

.footer {
    background-color: #444;
    color: #999;
    padding: 10px 0;
    text-align: center;
}