/*Barra de Navegacion*/
/* .navbar{
    padding: 2rem;
    background-color: rgb(243, 227, 52);
} */

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

.nav-item:hover {
    background-color: #adbd19;
    border-radius: 10px;
}

.u-map {
    width: 100%;
    height: 100%;
    /* Puedes ajustar la altura según tus necesidades */
}

iframe {
    border-color: black;

    width: 100%;
    height: 500px;
}

/*Hago una media query para que el icono cuando la pantalla sea pequeñas y salgan las tres rayas no aparezca para no estorbar
Le marco a partir de cual anchura quiero que se aplique la funcion(lo que hago entre {}, y hago que de la clase navbar brand no se muestre nada*/
@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }

    .navbar-titulo {
        text-align: center;
    }
}

.caja-subtitulo {
    width: 50%;
    /* Center the element */
    margin: auto;
    margin-bottom: 15px;
    /* Less horizontal padding */
    padding: 1rem;
    background-color: #3c3d36b1;
    border-radius: 10px;
}

.titulo {
    color: white;
    text-align: center;
}

.top4 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 1rem;
    background-color: #9db517b1;
    border-radius: 10px;
    margin-bottom: 20px;
}

.top4 .col-md-4 {
    margin: auto;
    /* max-width: 230px; */
    width: 23%;
    min-width: 120px;
    height: auto;
    min-height: 80px;
    text-align: center;
    margin: 3px;
}

.col-md-4 {
    margin: auto;
    /* max-width: 230px; */
    width: 23%;
    min-width: 120px;
    height: auto;
    text-align: center;
    margin: 3px;
}

/* .buscador {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 20px;
}

.buscador nav {
    width: 50%;
}


.navbar-brand img {
    font-size: 1.5rem;
    border-radius: 20%;
}

.carruselTipos {
    display: flex;
    overflow-y: auto;
}

.carruselTipos .col-md-4 {
    margin: 10px;
} */


.Cabecera-calses {
    color: white;
    text-align: center;
}

hr {
    height: 2px;
    background-color: rgb(35, 35, 35);
    padding: 0;
    margin: 0;
}



/*Parte de carrusel pequeño*/
.carousel-inner {
    margin: 0 auto;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 20px;
    min-height: 150px;
    display: flex;
    overflow-y: auto;
}

.carousel-inner div {
    width: 20%;
    height: auto;
    display: block;
}




/*Parte de info y contacto*/
.contact-section {
    background-color: #333;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

.contact-section div {
    margin-bottom: 20px;
    width: 33%;
    display: inline-block;
    vertical-align: top;
}

.contact-section .icon {
    background-color: #00b7a8;
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 10px;
}

.contact-section .icon img {
    width: 30px;
    height: 30px;
    margin-top: 10px;
}

.contact-section a {
    color: #d4ff00;
    text-decoration: none;
}

.footer {
    background-color: #444;
    color: #999;
    padding: 10px 0;
    text-align: center;
}


/* Seccion de tipos de comida */
.tiposComida {
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    text-align: center;
    margin-top: 20px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.menu-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.menu-item {
    background-color: #2c2c2c;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.menu-item img {
    width: 100%;
    border-radius: 10px;
    /*Hacer que se ajusten las imagenes al tamaño del contenedor*/
    object-fit: cover;
    height: 200px;
}

.menu-item h2 {
    font-size: 1.2em;
    margin: 10px 0;
}

.menu-item button {
    background-color: #00cccc;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.menu-item button:hover {
    background-color: #009999;
}

.item-details {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    max-width: 800px;
}

.item-detail {
    background-color: #2c2c2c;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.item-detail img {
    width: 100%;
    border-radius: 10px;
    /*Hacer que se ajusten las imagenes al tamaño del contenedor*/
    object-fit: cover;
    height: 200px;
}

.item-detail p {
    margin: 10px 0;
}

.item-detail p:first-of-type {
    font-size: 1.5em;
    font-weight: bold;
}



/* Carrousel vertical con todos los locales */
/*Barra de Navegacion*/
/* .navbar{
    padding: 2rem;
    background-color: rgb(243, 227, 52);
} */

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

.nav-item:hover {
    background-color: #adbd19;
    border-radius: 10px;
}

.u-map {
    width: 100%;
    height: 100%;
    /* Puedes ajustar la altura según tus necesidades */
}

iframe {
    border-color: black;

    width: 100%;
    height: 500px;
}

/*Hago una media query para que el icono cuando la pantalla sea pequeñas y salgan las tres rayas no aparezca para no estorbar
Le marco a partir de cual anchura quiero que se aplique la funcion(lo que hago entre {}, y hago que de la clase navbar brand no se muestre nada*/
@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }

    .navbar-titulo {
        text-align: center;
    }
}

.caja-subtitulo {
    width: 50%;
    /* Center the element */
    margin: auto;
    margin-bottom: 15px;
    /* Less horizontal padding */
    padding: 1rem;
    background-color: #3c3d36b1;
    border-radius: 10px;
}

.titulo {
    color: white;
    text-align: center;
}

.top4 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 1rem;
    background-color: #9db517b1;
    border-radius: 10px;
    margin-bottom: 20px;
}

.top4 .col-md-4 {
    margin: auto;
    /* max-width: 230px; */
    width: 23%;
    min-width: 120px;
    height: auto;
    min-height: 80px;
    text-align: center;
    margin: 3px;
}

.col-md-4 {
    margin: auto;
    /* max-width: 230px; */
    width: 23%;
    min-width: 120px;
    height: auto;
    text-align: center;
    margin: 3px;
}

.buscador {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 20px;
}

.buscador nav {
    width: 50%;
}


.navbar-brand img {
    font-size: 1.5rem;
    border-radius: 20%;
}

.carruselTipos {
    display: flex;
    overflow-y: auto;
}

.carruselTipos .col-md-4 {
    margin: 10px;
}


.Cabecera-calses {
    color: white;
    text-align: center;
}

hr {
    height: 2px;
    background-color: rgb(35, 35, 35);
    padding: 0;
    margin: 0;
}



/*Parte de carrusel pequeño*/
.carousel-inner {
    margin: 0 auto;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 20px;
    min-height: 150px;
    display: flex;
    overflow-y: auto;
}

.carousel-inner div {
    width: 20%;
    height: auto;
    display: block;
}




/*Parte de info y contacto*/
.contact-section {
    background-color: #333;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

.contact-section div {
    margin-bottom: 20px;
    width: 33%;
    display: inline-block;
    vertical-align: top;
}

.contact-section .icon {
    background-color: #00b7a8;
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 10px;
}

.contact-section .icon img {
    width: 30px;
    height: 30px;
    margin-top: 10px;
}

.contact-section a {
    color: #d4ff00;
    text-decoration: none;
}

.footer {
    background-color: #444;
    color: #999;
    padding: 10px 0;
    text-align: center;
}


/* Seccion de tipos de comida */
.tiposComida {
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    text-align: center;
    margin-top: 20px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.menu-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.menu-item {
    background-color: #2c2c2c;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.menu-item img {
    width: 100%;
    border-radius: 10px;
    /*Hacer que se ajusten las imagenes al tamaño del contenedor*/
    object-fit: cover;
    height: 200px;
}

.menu-item h2 {
    font-size: 1.2em;
    margin: 10px 0;
}

.menu-item button {
    background-color: #00cccc;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.menu-item button:hover {
    background-color: #009999;
}

.item-details {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    max-width: 800px;
}

.item-detail {
    background-color: #2c2c2c;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.item-detail img {
    width: 100%;
    border-radius: 10px;
    /*Hacer que se ajusten las imagenes al tamaño del contenedor*/
    object-fit: cover;
    height: 200px;
}

.item-detail p {
    margin: 10px 0;
}

.item-detail p:first-of-type {
    font-size: 1.5em;
    font-weight: bold;
}



/* Vertical con todos los locales */
.restaurantes {
    background-image: url("img/3a7f1e38183b3280f03d956ed3cf634b0492cd5ea926f8f54e8543439435be52db1b93ec9888436087b7d1315877f373e51ebfa5e02861ae216668_1280.jpg");
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    /* Add a dark overlay */
    background-blend-mode: darken;
    /* Blend the overlay with the image */
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    justify-content: center;
}

.restaurant-cards {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    /* Enable vertical scrolling */
    max-height: 70vh;
    /* Set maximum height for the scrollable area */
    padding: 10px 0;
}

.restaurant-card {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: 22%;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    flex: auto;
    gap: 20px; /* Espacio entre las tarjetas */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.restaurant-card img {
    width: 100%;
    height: auto;
}


/* Ocultar las barras de desplazamiento */
body {
    overflow-y: scroll; /* Para mantener el comportamiento de desplazamiento vertical */
    scrollbar-width: none; /* Ocultar barra de desplazamiento en Firefox */
}

body::-webkit-scrollbar {
    display: none; /* Ocultar barra de desplazamiento en Chrome, Safari y Edge */
}


.restaurant-info {
    padding: 15px;
}

.restaurant-name {
    font-size: 1.5em;
    margin: 0 0 10px 0;
}

.restaurant-description {
    font-size: 1em;
    margin: 0 0 10px 0;
}

.restaurant-button {
    display: inline-block;
    padding: 10px;
    background-color: #ff9900;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.restaurant-button:hover {
    background-color: #e68a00;
}

@media (max-width: 1200px) {
    .restaurant-card {
        width: 30%;
    }
}

@media (max-width: 900px) {
    .restaurant-card {
        width: 45%;
    }
}

@media (max-width: 600px) {
    .restaurant-card {
        width: 100%;
    }
}