/*Barra de Navegacion*/
/* .navbar{
    padding: 2rem;
    background-color: rgb(243, 227, 52);
} */

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

.nav-item:hover {
    background-color: #adbd19;
    border-radius: 10px;
}

.u-map {
    width: 100%;
    height: 100%;
    /* Puedes ajustar la altura según tus necesidades */
}

iframe {
    border-color: black;

    width: 100%;
    height: 500px;
}

/*Hago una media query para que el icono cuando la pantalla sea pequeñas y salgan las tres rayas no aparezca para no estorbar
Le marco a partir de cual anchura quiero que se aplique la funcion(lo que hago entre {}, y hago que de la clase navbar brand no se muestre nada*/
@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }

    .navbar-titulo {
        text-align: center;
    }
}



/* Css del Login-page siguiendo el estilo del resto de la pagina*/
/* Footer Styles */
.footer-container {
    background-color: #f3e334;
    padding: 2rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-container a {
    color: #000;
    text-decoration: none;
    margin: 0 1rem;
}

.footer-container a:hover {
    text-decoration: underline;
}

.footer-container p {
    margin: 0;
    color: #000;
}

/* Css del join-us siguiendo el estilo del resto de la pagina*/
.main-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 10px;
}

.card a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.join-us {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.join-us h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.join-us .images {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.join-us .images img {
    width: 45%;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.login-stats {
    margin-bottom: 20px;
}

.login-stats h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.stat {
    text-align: center;
}

.stat span {
    font-size: 2rem;
    display: block;
}

.stat p {
    margin-top: 5px;
}

.join-link {
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin-top: 20px;
}

hr {
    height: 2px;
    background-color: rgb(35, 35, 35);
    padding: 0;
    margin: 0;
}



/*Parte de info y contacto*/
.contact-section {
    background-color: #333;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

.contact-section div {
    margin-bottom: 20px;
    width: 33%;
    display: inline-block;
    vertical-align: top;
}

.contact-section .icon {
    background-color: #00b7a8;
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 10px;
}

.contact-section .icon img {
    width: 30px;
    height: 30px;
    margin-top: 10px;
}

.contact-section a {
    color: #d4ff00;
    text-decoration: none;
}