* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #ccff33;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    width: 60px;
    height: auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
}

.registro {
    text-align: center;
    background-color: #333333;
    color: white;
    padding: 50px 0;
}

.registro .busqueda input {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

.registro h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.contenedor {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
    padding: 20px;
    background-color: #337ab7;
}

.bienvenida {
    text-align: left;
    width: 40%;
}

.bienvenida h2 {
    font-size: 2rem;
}

.bienvenida button {
    padding: 10px 20px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.formulario {
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: left;
}

.formulario label {
    display: block;
    color: white;
    margin-bottom: 5px;
    margin-top: 10px;
}

.formulario input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.formulario button {
    width: 100%;
    padding: 10px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.formulario p {
    font-size: 0.8rem;
    color: white;
    margin-bottom: 10px;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

.nav-item:hover {
    background-color: #adbd19;
    border-radius: 10px;
}

.u-map {
    width: 100%;
    height: 100%;
    /* Puedes ajustar la altura según tus necesidades */
}

iframe {
    border-color: black;

    width: 100%;
    height: 500px;
}

/*Hago una media query para que el icono cuando la pantalla sea pequeñas y salgan las tres rayas no aparezca para no estorbar
Le marco a partir de cual anchura quiero que se aplique la funcion(lo que hago entre {}, y hago que de la clase navbar brand no se muestre nada*/
@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }

    .navbar-titulo {
        text-align: center;
    }
}
